AZURE_DEVOPS_ORGANIZATION=${AZURE_DEVOPS_ORGANIZATION}
AZURE_DEVOPS_PROJECT=${AZURE_DEVOPS_PROJECT}
AZURE_APPROVED_SOURCE_HOST=${AZURE_APPROVED_SOURCE_HOST}
AZURE_ENTRA_TENANT_ID=${AZURE_ENTRA_TENANT_ID}
AZURE_SUBSCRIPTION_ID=${AZURE_SUBSCRIPTION_ID}
AZURE_CI_IDENTITY=${AZURE_CI_IDENTITY}
AZURE_RUNTIME_IDENTITY=${AZURE_RUNTIME_IDENTITY}
AZURE_SECRET_STORE_URI=${AZURE_SECRET_STORE_URI}
